*,
*::before,
*::after {
margin:0;
padding: 0;
box-sizing:border-box;

}

.IDInput {

text-align:center;
width:50%;
margin:auto;
border:1px solid black;
padding-block:2rem;
box-shadow:1px 1px black;
}
#IdText {
margin-top:1rem;
height:2rem;
}
#BTNSubmit {

display:block;
margin:auto;
margin-top:1rem;
padding:0.2rem;
}

::Placeholder {

    font-size:0.7rem;
    text-align:center;
}